$app-background-light: #ffffff;
$app-foreground-light: #90a4ae;
$app-selection-background-light: #80cbc440;

$app-background-dark: #252525;
$app-foreground-dark: #eeffff;
$app-selection-background-dark: #61616150;

$card-background-light: #f5f5f5;
$card-foreground-light: #333333;
$card-selection-background-light: #bbbbbb;

$card-background-dark: #1a1a1a;
$card-foreground-dark: #cccccc;
$card-selection-background-dark: #aaaaaa;

$table-header-light: #dfdfdf;
$table-body-light: #ffffff;
$table-foreground-light: #333333;
$table-selection-light: #afafaf;

$table-header-dark: #111111;
$table-body-dark: #252525;
$table-foreground-dark: #cccccc;
$table-selection-dark: #949494;

$accent-color: #50b3c0;
